[2014-02-13 00:54] sirkirby opened #2 "See and configure the hipchat notifier under my profile -> notification rules"
Just curious, have you looked into this? Similar to how the email, jabber, and tray notifier work which would allow for fine control of who is notified and for what projects. Right now i'm using the webhooks plugin, which does the job for sure but am really interested in what you've started here and exceeding that functionality...especially if it can be customized on the user level in the profile.

[2014-02-26 15:32] mtscout6 opened #3 "Add release download to readme"
I would like to try this plugin out, but I don't want to pull down source and build right now. Is there a location where I can download a release and drop it right into teamcity?

[2014-02-26 22:02] #3 closed, assigned to parautenbach

[2014-03-15 02:39] pawelpabich opened #4 "How to build the project"
Hi,
I would like to contribute to the TC Hipchat notifier so I cloned the repo and changed teamcity.home to C:\TeamCity, opended project in IntelliJ, hit build and ended up with gazilion compilation errors. Do you have any step by step guide that I could use? I have installed JDK 1.7.

Thanks

[2014-03-16 11:36] parautenbach opened #5 "Add a link to the build in the message"
It would greatly enhance the user experience if one can click on a link to the specific build in the message sent by the plugin.

The HipChat v2 API supports two types of message formats: plain text and HTML. See https://www.hipchat.com/docs/apiv2/method/send_room_notification.

The functionality differs somewhat:
- Plan text messages can contain mentions and emoticons and links, but the link's te

[2014-03-16 22:23] #5 closed, assigned to parautenbach

[2014-03-16 22:30] fekberg opened #6 "Display proper usernames in build messages"
Currently the messages contains information that says "Triggered by Team Foundation Server", it would me much more convenient to know who actually triggered it based on the changeset.

[2014-03-17 20:58] #6 closed, assigned to parautenbach

[2014-03-17 21:03] #2 closed, assigned to parautenbach

[2014-03-17 21:26] parautenbach opened #7 "Add more markup to notification messages"
Add clickable links for the project and build configuration and perhaps use emphasis for the build status (e.g. put success in bold), which could also point to where the build number's link points.

[2014-03-18 15:09] #7 closed, assigned to parautenbach

[2014-03-18 19:20] #4 closed, assigned to parautenbach

[2014-03-19 12:22] pawelpabich opened #9 "A few test are failing on windows"
Hi,

I can compile the project but a few tests are failing. Can you have a look ?
I put the results on dropbox as GitHub does not accept xml files.
https://dl.dropboxusercontent.com/u/7579883/com.whatsthatlight.teamcity.hipchat.test%2020140319-225309.xml

Thanks

Pawel

[2014-03-20 21:49] shwetashah opened #10 "Upgrade from v0.3.0 to v0.4.0 doesn't play nice"
Hi, I'm using the TC 8.1.1 (latest version). I had HitChatNotifier v0.3.0 installed.
Upgrading it to v0.4.0 wasn't smooth. I had to uninstall the older version and then re-install the newer version and restart TC a couple of time to get it to play nicely.

[2014-03-22 08:33] #10 closed, assigned to parautenbach

[2014-03-24 10:34] pawelpabich opened #11 "Build message does not list contributors"
Hi,

We are running 0.4.3 and the notification message does not list contributors. Sample: Build XXXX-QuickCI was successful. It was build number #102 and was triggered by Team Foundation Server. Do we have to enable this message somewhere?

Thanks

Pawel

[2014-03-25 13:43] #9 closed, assigned to parautenbach

[2014-03-26 14:13] #11 closed, assigned to parautenbach

[2014-03-29 03:53] Plasma opened #12 "Branch name in template?"
Hi,

I was hoping to use this for my multi-branch TeamCity builds; however the plugin only mentions the build configuration name (eg, "Build and test" in my case) and does not include the feature branch name that was being built / succeeded / failed.

Any change the messages can be revised to mention the branch name?

[2014-03-30 22:29] Plasma opened #13 "Necessary to create a new HipChat user? What about other Token API?"
Hey,

In v1 of the HipChat API you can just create a "notify token" which has write-only access to the chat room, and can send as any arbitrary chat name you like.

I don't like the v2 HipChat API where you need a user token for a bot and it has read and write access.

I'm not familiar with the v2 API for HipChat that much, can you also support a "notify token" style system, ideally?

Cheers

[2014-03-31 22:09] #12 closed, assigned to parautenbach

[2014-04-02 13:24] pawelpabich opened #14 "0.5 does not list contributors any more"
Hi,

It looks like the refactoring broke the code responsible for list of contributors. Could you have a look?

Thanks

Pawel
![bug](https://cloud.githubusercontent.com/assets/347637/2591315/1d3146a2-ba6a-11e3-875c-d00c6eb5e5ca.png)

[2014-04-03 13:18] #14 closed, assigned to parautenbach

[2014-04-04 13:03] pawelpabich opened #15 "Show contributors from snapshot dependecies"
Hi,

This might not be possible :). Let's say there are 2 builds A and B. Build A is triggered for each checkin, and build B is triggered  by successful build A. Would it be possible to list list of contributors from A (dependency) in notifications for B ?

[2014-04-30 19:48] cmluciano opened #16 "Exposing build paramters"
Is it possible to grab build parameters and display them in a custom field? A use case for this would be displaying the servername that something was deployed to. I tried just placing this in box grabbed for build number but this breaks build chain functionality.

[2014-05-03 01:53] mgorbach opened #17 "Question Marks Instead of Emoticons"
I recently installed TeamCity and this plugin, and it works quite well. The only problem I'm seeing is that it's showing question-mark squares instead of emoticons. This seems to be happening for the web client as well as the mac client. Is there something configured wrong that I should double-check?

[2014-05-03 20:39] #13 closed, assigned to parautenbach

[2014-05-06 06:33] cmakara opened #18 "Project/configuration level costumization"
Hi,

Is there any way (or plan for future improvement) to be able to set that which project or configuration(preferably) related events should trigger a notification towards HipChat and which shouldn't?

Thanks
cSE

[2014-05-30 12:58] r-vishnevsky-parc opened #20 "Cyrillic support problem"
Contributor name displays incorrect if name symbols are cyrillic  ![20140530_165401](https://cloud.githubusercontent.com/assets/570199/3130548/b60096d2-e7f9-11e3-8109-76d7093f1da7.png)

[2014-05-30 18:37] #17 closed, assigned to parautenbach

[2014-06-03 23:08] psmith opened #21 "Ability to be notified on the first successful build after a failure"
More granularity on notifications would be awesome. Notifying on all success and failures would be massive spam for my use case.

See: http://confluence.jetbrains.com/display/TCD8/Subscribing+to+Notifications
For the options:
Only notify on the first failed build after successful
and
Only notify on the first successful build after failed

[2014-06-09 18:37] gromer opened #22 "MessaageFormat of HTML breaks emoticons"
Per the HipChat documentation, `message_format` must be `text` for emoticons to work.  [Currently, messages are getting sent in the `html` format](https://github.com/parautenbach/TeamCity-HipChat-Notifier/blob/f8a9388f95c67a38d7e2f8d4d8954912989824a4/src/com/whatsthatlight/teamcity/hipchat/HipChatServerExtension.java#L64).

[HipChat documentation for this](https://www.hipchat.com/docs/apiv2/method

[2014-06-12 21:40] #22 closed, assigned to nobody

[2014-07-02 17:39] celkins opened #23 "Add support for notifying multiple rooms (per project)"
For shared libraries it can be useful to send notifications to both a project-specific room and to rooms of downstream dependents.

[2014-07-06 16:46] gaui opened #24 "Can't get it to work with TeamCity 8.1.1"
I can't get it to work for build events, only when TeamCity server starts/stops.

I'm running v0.5.0 of your plugin and running TeamCity 8.1.1 Enterprise Edition.
- I have installed the plugin correctly (it's showing up in TeamCity Administration page).
- I created a new HipChat user for TeamCity.
- I have created a HipChat API v2 token for that user and configured correctly (Test Connection says

[2014-07-06 18:15] #24 closed, assigned to parautenbach

[2014-07-12 09:43] akmad opened #25 "Emoticons Not Appearing"
Thanks for this plugin! Overall it works great and is extremely easy to set up, I've just noticed an issue where none of the emoticons at the end of the message are appearing properly. Here is a screenshot showing what I mean:

![hipchat_-_general](https://cloud.githubusercontent.com/assets/136402/3561116/beefff64-09a8-11e4-9105-d6145209ad90.gif)

Is there something that I need to do on either the

[2014-07-21 20:08] #20 closed, assigned to parautenbach

[2014-07-21 20:08] #25 closed, assigned to parautenbach

[2014-07-21 20:11] #16 closed, assigned to parautenbach

[2014-07-25 15:22] ocxo opened #26 "upstream sent too big header while reading response header from upstream"
Getting this error when visiting the HipChat Notifier page after installing:

2014/07/25 15:20:48 [error] 772#0: *9618170 upstream sent too big header while reading response header from upstream, client: REDACTED, server: REDACTED, request: "GET /admin/admin.html?item=hipChat&init=1 HTTP/1.1", upstream: "http://127.0.0.1:8080/admin/admin.html?item=hipChat&init=1", host: "REDACTED", referrer: "http

[2014-07-25 15:51] #26 closed, assigned to nobody

[2014-07-29 15:46] BrianVallelunga opened #27 "404 after plugin installation"
I just installed the notifier into TeamCity and restarted the server. I see the link to "HipChat Notifier" under the Server Administration links. Clicking on it results in a 404.

The link points to:
https://[my build server]/admin/admin.html?item=hipChat&init=1

When followed I get the 404 at:

https://[my build server]/admin/admin.html?item=hipChat&buildFailedTemplateDefault=Build+%26lt%3Ba+href

[2014-07-29 21:02] #21 closed, assigned to parautenbach

[2014-07-29 21:03] #27 closed, assigned to parautenbach

[2014-07-31 15:19] chrishoffman opened #28 "${buildId} in default URLs contains commas"
The variable ${buildId} that is in the default URLs contains commas, so build id 2416890 becomes 2,416,890 in the URL which does not work.

A workaround for this is to use the exposed parameters since they appear to be treated as string.
${.data_model["teamcity.build.id"]}

[2014-07-31 15:24] chrishoffman opened #29 "Default build url points to the project"
Even though the text is the name of the build configuration, the url that is linked is to the project.  I think it should link to the build configuration.

[2014-07-31 15:29] chrishoffman opened #30 "buildTypeId points to old style build type ids in TC 8"
Teamcity 8 now supports custom build type IDs.  It looks like the buildTypeId is generated using an internal counter and not the actual build type id as specified.  Anything created after the new Teamcity was implemented will not work since the old style bt<counter> no longer work.  On converted values, the redirection works but with a warning on the top to update your bookmarks.

[2014-07-31 15:32] chrishoffman opened #31 "buildTypeId not required in "build number" default URL"
The default URL for build number is ${serverUrl}/viewLog.html?buildId=${buildId}&tab=buildResultsDiv&buildTypeId=${buildTypeId}.  The buildTypeId is not required and currently breaks when using TC 8 since the buildTypeIds changed.

Relates to #30

[2014-08-03 21:20] #28 closed, assigned to parautenbach

[2014-08-03 21:21] #29 closed, assigned to parautenbach

[2014-08-03 21:22] #30 closed, assigned to parautenbach

[2014-08-03 21:23] #31 closed, assigned to parautenbach

[2014-08-07 07:25] kringol opened #32 "Only the first 100 rooms are shown"
The hipchat api v2 returns only 100 rooms per get request. If there are more than 100, then successive  calls have to be made specifying the start-index
https://www.hipchat.com/docs/apiv2/method/get_all_rooms

Current problem: The room I want for the notifications in the 2nd batch of 100 rooms, and since I cannot specify a room name manually (only via the combo box) I cannot use that room

[2014-08-10 20:11] #32 closed, assigned to parautenbach

[2014-08-14 16:23] brantb opened #33 "Specify custom channel for server events"
We have a fairly busy TeamCity server with a lot of projects/builds owned by various teams, and we want each team to have the ability to opt-in to HipChat notifications for their projects. However, we'd still like to have server events go to our "General" room so everyone knows the server is going up and down.

The only way I could figure out to accomplish this is to set the default room to "Gener

[2014-08-20 20:45] #33 closed, assigned to parautenbach

[2014-08-26 14:18] mgorbach opened #34 "New feature to notify only when build state changes doesn't work for multiple branches in a single build configuration"
We're finding a limitation in the way the new feature to notify only when the build state changes works. It appears to not take into account branches. Specifically, if one build configuration is building multiple branches (as it does in our config), the failures and successes on each branch get glommed together when it comes to calculating state changes. A failure on one branch followed by a succe

[2014-09-02 20:15] #34 closed, assigned to parautenbach

[2014-09-11 07:19] ivyang187 opened #35 "Cannot Retrieve Rooms"
In the Admin page within TeamCity - after setting the APIv2 token - connection test is successful. However after changing any other options and clicking save - message says saved successfully - page reloads but nothing is saved. After enabling debugging - error in the log is as below. Anyone experiencing the same? This is using most recent version of HipChat Notifier - and TC version 8.1.2.

014-0

[2014-09-11 20:03] #35 closed, assigned to parautenbach

[2014-09-16 17:29] slolife opened #36 "Exception when I open the Hipchat Notifier Admin page"
Exception when I open the Hipchat Notifier configuration page

TeamCity Enterprise 8.1.4 (build 30168)
HipChat Plugin 0.7.2

[2014-09-16 10:21:11,057]   WARN -   jetbrains.buildServer.SERVER - Unhandled exception occurred while calling method fillModel of HipChatConfigurationPageExtension[myIncludeUrl='/plugins/HipChat Notifier/adminSettings.jsp', myPluginName='hipChat', myPlaceId=/admin/admin.htm

[2014-09-17 08:37] parautenbach opened #37 "Add a failure reason to build failed notifications"
The TeamCity build status could be added as a reason to a build failed notification.

[2014-09-26 10:20] ma499 opened #38 "Filtering notifications by branch"
We use a feature-branching workflow with Git and TeamCity runs CI on all (auto-discovered) active branches. Is there any way that we can filter notifications so that, for example, we only get notifications for the master branch of any project?

[2014-10-05 05:02] timjrobinson opened #39 "All config boxes are blank when invalid <#if> statement entered"
I was experimenting with having an if statement in the build started box like so:

[code]

After hitting save the page reloaded and all build start / successful / failed message boxes were blank. I could no longer click default beside any of them either until I re-saved the empty boxes.

Also is something like this if statement possible? Where it only shows the text if the variable is set.

[2014-10-12 18:20] #39 closed, assigned to parautenbach

[2014-10-12 18:21] #36 closed, assigned to parautenbach

[2014-11-04 20:35] jan0sch opened #40 "Cannot retrieve rooms"
Hi,

I'm currently trying to migrate away from webhooks to your nice plugin but all I get is the following error message in my log files:

ERROR - hatsthatlight.teamcity.hipchat - Could not retrieve rooms: 401 Unauthorized

I'm using TeamCity 8.1.5 and the current version of your plugin (0.8.0).

Any ideas?

[2014-11-06 09:41] #40 closed, assigned to parautenbach

[2015-01-21 00:04] gregmac commented on #13
I'm also kinda bummed about this: the Teamcity notifications show up as if it was something I wrote.

I was hoping this would be an improvement over using the tcWebHooks plugin, but at least with tcWebHooks the messages show up as coming from "Teamcity". I like customizing the messages and having different colors -- but I'm not sure this is a worthwhile trade-off right now.

----

Using a dedicate

[2015-01-21 15:28] kenny-evitt opened #41 "Allow use of a single room token instead of a full user"
For the 'degenerate' configuration where all events are sent to a single room, a single room token can be used for authentication.

[2015-01-21 15:35] parautenbach commented on #13
Thank you @gregmac for the feedback. Let's hope Atlassian attends to this soon. I have voted for your request.

[2015-01-21 22:11] pawelpabich opened #42 "Upgrade from 0.5 to 0.7.2 failed"
Hi,

I decided to upgrade HipChat notifier on our 8.1.1 Team City server and now the HipChat page is empty most of the time. If I'm persistent enough :) and hit F5 a lot I can be lucky and end up with a populate screen. This is what I found in TC log:

[code]

[2015-02-09 01:05] twistedpair opened #43 "Build number missing at start of build message"
The starting build message shows `#???` as the build number, rather than the actual build number.

[code]

TeamCity: 9.0.1 (build 32116)
Plugin: latest
SCM: git
Runner: Maven

Note: The end of build message does show the proper build number:

[code]

[2015-02-10 01:16] twistedpair commented on #43
Note: This only happens if I rerun a build. Perhaps TC doesn't know how to uniquely identify it after the git hash has already been assigned to a preceding build.

[2015-02-13 20:47] j-martin opened #44 "Support for Teamcity 9"
The plugin doesn't seem to be able to connect to the Hipchat server (or the failure happens earlier).
Using the "Test connection" button will give a "Connection failed!" message.

Note that we didn't try the plugin on Teamcity 8 since we upgraded all our servers. For the record, the main server is allowed to communicate with the hipchat api servers.

[2015-02-14 11:59] peterhughes0 opened #45 "Include short status description in notification"
Hi, forgive me if I have missed something in the docs, and this is actually very simple to implement. But I have been trying to include the short description in the hipchat notification, but despite no syntax errors, the notification seems to fail to send.

In the email template this is ${var.buildShortStatusDescription} which gives a brief outline - such as:

(Tests passed: 25)

However, this doe

[2015-02-15 15:32] parautenbach commented on #45
Hi Peter

Just taking a quick guess (I'll investigate when I will update the plugin a bit later), but try it like this:

[code]

The above is described [here](http://www.whatsthatlight.com/index.php/projects/teamcity-hipchat-plugin/).

If it still fails, you can enable the plugin's [logging](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers). When the log level is set to `DEBUG`

[2015-02-15 15:36] parautenbach commented on #44
Hello Jean

Indeed, the plugin hasn't been built for TC 9 (yet). I just did a server upgrade during last week at work too, so I'm planning to make a new release very soon.

(Technical note: The plugin uses some libraries already bundled with TC. The plugin hence has to use those versions to avoid reflection errors. Unfortunately, even between minor and bugfix TC releases, the Jetbrains team someti

[2015-02-15 15:38] parautenbach commented on #43
Hi Joseph

That sounds really strange. I haven't tested the plugin against TC9 yet, but will do so soon and provide feedback as soon as I can simulate the issue.

[2015-02-15 16:04] twistedpair commented on #43
Thanks @parautenbach. It may be just a defect in the underlying TC9 API, in which case you can close this.

[2015-02-15 19:24] parautenbach commented on #45
I've checked now, and you will at this stage not be able to do what you'd like: That `buildShortStatusDescription` isn't exposed in the standard data model, but I can add it as a plugin feature (I think I've jotted down the idea before to make build stats available for the templates).

[2015-02-15 19:25] parautenbach commented on #45
Here is what is normally available:
[code]

[2015-02-15 19:30] parautenbach commented on #44
Something strange that I have just experienced: An existing OAuth token stopped working. I checked it in the admin console for the user (under API settings), and it was there. I think ran my unit tests for the plugin, and authorisation failed. I then created a quick test script with the same token, and it failed too, so that eliminates a problem with the plugin. After that, I recreated the token,

[2015-02-15 19:33] parautenbach commented on #44
You can test your current token as follows from a browser:

[code]

[2015-02-15 20:15] parautenbach commented on #42
Hi Pawel

Sorry about that, but I can't seem to reproduce this. Strange, because v0.7.2 was built against TC 8.1.1 exactly. Any chance you could upgrade TC to 8.1.5 and try v0.8.0? Or are you planning on upgrading to TC 9 at some stage? I have upgraded our server at work last week, so I'll be updating the plugin to work against it.

Did you remove your TeamCity directory completlye before the upgr

[2015-02-16 06:50] j-martin commented on #44
Hey Pieter,

It seems every token that we ever generated from Hipchat is being rejected. I also created a new token with no success (both Notification and Admin). I am not doubting you got it working under Teamcity 9. Feel free to close this issue. Thanks for investigating.

[code]

[2015-02-16 06:56] parautenbach commented on #44
Hello, I tested with v0.8.0 of the plugin against TC 8.1.5.

[2015-02-16 13:59] pawelpabich commented on #42
Hi,

No worries. I have upgraded TC to 8.1.5 and then it worked.

[2015-02-16 13:59] #42 closed

[2015-02-16 14:28] parautenbach commented on #42
Glad you won! :-)

[2015-02-16 19:37] peterhughes0 commented on #45
That's great, thanks - good to know.

I had tried a few options and none had worked so good to know that it will be in the pipeline!

[2015-02-17 14:28] parautenbach commented on #44
Changed label to enhancement, to track this issue for upgrading the plugin to support TC 9.

[2015-02-23 08:22] kringol opened #46 "Http proxy configuration support"
Hi,

Is it possible to add configuration and connection support for using http proxy to connect to the hipchat servers?

I tried with teamcity own configuration (https://confluence.jetbrains.com/display/TCD9/How+To...#HowTo...-ConfigureTeamCitytoUseProxyServerforOutgoingConnections)
But seems that the plugin uses Apache HttpClient to connect.
And for that to use a proxy, a Route must be added when

[2015-02-26 13:59] PaulHealey commented on #44
I get the same error as @j-martin trying the *Test Connection* button and when testing the token, as in *Invalid OAuth Session*. I created my token on the HipChat site via Group Admin / API page.

I notice you can go into a Room and create a token there as well, but that didn't seem to work either. The auth test gives a different error though:

[code]

[2015-03-10 13:03] macnibblet commented on #44
Any roadmap for teamcity 9 ?

[2015-03-10 16:56] brycekahle opened #47 "Create as an add-on/integration"
https://www.hipchat.com/docs/apiv2/addons

That way you don't have to create and pay for an extra user.

[2015-03-10 17:14] bettin commented on #47
+1

[2015-03-10 20:55] parautenbach commented on #47
Hi there

Please have a look at this [comment](https://github.com/parautenbach/TeamCity-HipChat-Notifier/issues/13#issuecomment-39374149) for an explanation.

[2015-03-10 20:59] brycekahle commented on #47
@parautenbach An add-on can definitely be installed globally.

[2015-03-10 21:05] parautenbach commented on #47
That must be new information compared to the time of writing of my comment. Could you provide a link please?

[2015-03-10 21:06] brycekahle commented on #47
@parautenbach See issue body for link.

[2015-03-10 21:30] parautenbach commented on #47
I read this differently: The v2 API requires a personal access token, so the token is still tied to a user account, e.g. as you would see at https://<yoursubdomain>.hipchat.com/account/api. This is what is currently used. You're welcome to point out where exactly to create a v2 API token that is not tied to a particular user account, in which case I will definitely invest more time in it. I have u

[2015-03-10 21:39] brycekahle commented on #47
From https://www.hipchat.com/docs/apiv2/auth

[2015-03-11 14:46] Kizmar opened #48 "Getting "Connection failed!" with 0.8.0"
I updated to TeamCity 8.1.5 (build 30240) and HipChat Notifier to 0.8.0. The exiting API token seemed to have stopped working, so I generated a new one, which also doesn't appear to be working.

The "Default room" field just says "(None)" and using "Test connection" results in a "Connection failed!" alert.

Is there something else I can/need to do to get this working again?

[2015-03-11 15:00] Kizmar commented on #48
Uhg... just realized I was trying to use a room key instead of a person key. It works with a person key. Are there plans to support room notification keys?

[2015-03-13 19:55] parautenbach commented on #48
Hi there

It seems like you have some environmental inconsistency. Did you upgrade your server recently? It actually seems (and this is a guess) that you have old JAR files (installed with TeamCity) somewhere and upon server startup these libraries get reflected, but it's not quite deterministic which JAR (if there are multiple versions of the same JAR). This was an [issue for others before](https

[2015-03-13 19:57] parautenbach commented on #46
Thank you the feedback! Adding proxy support is certainly a good idea.

[2015-03-13 20:04] parautenbach commented on #44
Hi Antoine

Certainly! Due to a personal emergency I was offline and out of town for a while. It would hopefully not be too far from now. I'd say you can expect at least a compatibility update (i.e. no new features) in the next week or so.

[2015-03-13 23:09] macnibblet commented on #44
You rock !

On Fri, Mar 13, 2015, 21:04 Pieter Rautenbach <notifications@github.com>
wrote:

[2015-03-21 09:02] jan0sch commented on #44
I'm currently running TeamCity 9.0.3 with the latest release and it works quite fine.

[2015-04-03 14:23] parautenbach opened #49 "Loading emoticons causes an infinite loop"
On server startup or when reloading emoticons from the configuration page, the API processor sometimes go into an infinite loop. This can cause several problems:

* The configuration page may seem to hang.
* Out of memory errors.
* Exceeding the HipChat API rate limit, causing notifications to be blocked.

The cause is actually a broken HipChat API, as on each subsequent request, it returns a next

[2015-04-04 17:27] parautenbach commented on #43
Hi, I'm in the process of updating the plugin and I'm now investigating this issue. Is this still an issue you're experiencing?

[2015-04-05 18:47] parautenbach commented on #37
This is typically what one would like to get access to, but is unfortunately not available directly via the APIs. It can, however, be built up from build statistics.

![screen shot 2015-04-05 at 20 44 24](https://cloud.githubusercontent.com/assets/743320/6998073/c0e65c6a-dbd4-11e4-8d9f-f692e76b024d.png)

[2015-04-05 18:47] #37 closed

[2015-04-05 20:19] parautenbach commented on #43
I can't reproduce this yet, but I'd like to keep this open, because I can't say with certainty this isn't a plugin issue.

Would it be possible for you to enable the plugin's debug logging? I'm looking for the value of the build ID before it's passed to the template, typically:

[code]

[2015-04-06 17:26] parautenbach commented on #44
@macnibblet, the latest version, [v0.9.0](https://github.com/parautenbach/TeamCity-HipChat-Notifier/releases/tag/0.9.0) now supports TeamCity v9.0.2. :-)

@jan0sch, thanks for the feedback too: I think the issue would be that the plugin wouldn't always work reliably, or that some features won't work correctly. It very much depends on common dependencies between the plugin and TeamCity: The plugin

[2015-04-06 17:26] #44 closed

[2015-04-06 17:28] parautenbach commented on #45
The latest version, [v0.9.0](https://github.com/parautenbach/TeamCity-HipChat-Notifier/releases/tag/0.9.0) now supports additional build statistics with which you can create your own summary. This is documented on the [project's page](http://www.whatsthatlight.com/index.php/projects/teamcity-hipchat-plugin/). Unfortunately I couldn't find a way to use the text summary already displayed by TeamCity

[2015-04-06 17:28] #45 closed

[2015-04-06 17:29] parautenbach commented on #46
The latest version, [v0.9.0](https://github.com/parautenbach/TeamCity-HipChat-Notifier/releases/tag/0.9.0) now uses TeamCity's configured proxy support automatically. Let me how it works for you!

[2015-04-06 17:29] #46 closed

[2015-04-06 17:30] parautenbach commented on #49
Fixed in [v0.9.0](https://github.com/parautenbach/TeamCity-HipChat-Notifier/releases/tag/0.9.0).

[2015-04-06 17:30] #49 closed

[2015-04-06 17:32] parautenbach commented on #48
Hi there

Have you managed to resolve this in a permanent manner? I've release [v0.9.0](https://github.com/parautenbach/TeamCity-HipChat-Notifier/releases/tag/0.9.0) of the plugin, which supports TeamCity 9, in case you've upgraded too. In the mean time, I'm going to close this until there is more information. Feel free to re-open the issue.

[2015-04-06 17:32] #48 closed

[2015-04-20 10:19] pbjorklund commented on #44
I'm getting "Connection failed" when running "Test connection" with TC 9.0.3 running on Windows Server 2012 R2

[2015-04-20 20:48] parautenbach commented on #44
Hello, how did you generate the token? Did you create a v2 API personal access token? Have you checked that you can reach the HipChat servers from your TeamCity server (e.g. with a `telnet` test)?

[2015-04-21 07:44] pbjorklund commented on #44
Ah, the README is not clear that you need to generate a personal token from https://xxxxxx.hipchat.com/account/api. When using that I get connection successful.

[2015-04-21 21:58] keithrz commented on #47
The current TeamCity add-on for HipChat provides an auth token, but it is api v1.  For api v2, you'd want a group client token generated.

I was trying to figure out how to create a group client token as a HipChat admin.  But you need to create it from within an add-on.

So, who owns the TeamCity add-on for HipChat?  They should modify the add-on so that it generates an API v2 group client token.

[2015-04-22 07:50] parautenbach commented on #47
I am the author and owner of this plugin, if that's what you're referring to. Before the new Atlassian Marketplace with HipChat add-ons was launched, this plugin (which is a TeamCity plugin, and not a HipChat plugin or add-on as such) was listed on their old site. When they launched the new site they must've done some conversion to list existing integrations as a way to seed it with existing integ

[2015-04-22 12:39] Kizmar opened #50 "Server startup event never fires"
I should first note: after the server has been running for a while, the HipChat Notifier works fine.

I'm not really sure what's going on with this, but when I happen to reboot the server I see the "Build server shutting down." message in HipChat. When the server comes back online, I never see the "Build server started." message.

When I RDP to the machine immediately after a reboot and review the

[2015-04-23 16:22] parautenbach commented on #50
Hello

I think the problem is #49, which was fixed in v0.9.0 of the plugin (the cause is a problem with the HipChat API). Which version of the plugin and TeamCity are you using?

[2015-04-23 16:23] parautenbach commented on #50
Btw, HTTP code 429 means the HipChat API's rate limiting kicked in.

[2015-05-02 13:54] keithrz commented on #47
I was referring to the HipChat Marketplace add-on.  It is obvious that you are the owner of the TeamCity plugin.

I have no knowledge of HipChat Marketplace add-ons, but I guess I'll have to figure it out.  The TeamCity plugin is not very helpful if it means having to pay for an extra user just to use it.  In my team, we've reverted to using tcwebhooks in TeamCity using HipChat v1 API, because it

[2015-05-19 20:14] chriskooken opened #52 "Connection Failed"
I am trying to set this up against teamcity 9 and I get this error.

![screen shot 2015-05-19 at 4 13 35 pm](https://cloud.githubusercontent.com/assets/110292/7712895/19e42330-fe42-11e4-8cc9-915696d008f3.png)

My token is correct. What am I doing wrong?

[2015-05-19 20:19] parautenbach commented on #52
It seems like you have a routing problem on your local network (inferred from the private subnet 192.168.0.0). Do you perhaps have a proxy in the way? On the TeamCity server, are you able to telnet to api.hipchat.com on port 80?

[2015-05-19 20:30] chriskooken commented on #52
@parautenbach Thanks for the quick response! Yes. I just tried to telnet on the TeamCity host and it worked perfectly.

[2015-05-19 20:45] parautenbach commented on #52
You're welcome!

I haven't seen this error before. I'm not sure why `api.hipchat.com` would resolve to `192.168.28.41`.

Do you perhaps have any [https://confluence.jetbrains.com/display/TCD9/How+To...#HowTo...-ConfigureTeamCitytoUseProxyServerforOutgoingConnections](proxy settings) enabled?

[2015-05-19 21:08] chriskooken commented on #52
It's not resolving to 192.168.28.41. That is the ip of the Teamcity host, and the URL in the browser. So the window is just saying the URL in the title.

I have no proxy settings enabled.

[2015-05-19 21:14] parautenbach commented on #52
Ah, yes, of course...

Would you mind explaining how you obtained the token?

Also try to enable [debug logging](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers) and post the logs here.

[2015-05-19 21:16] chriskooken commented on #52
I obtained the token from here:

![screen shot 2015-05-19 at 5 14 59 pm](https://cloud.githubusercontent.com/assets/110292/7714190/9f0b0df0-fe4a-11e4-9fb6-ff3671533bb7.png)

[2015-05-19 21:20] parautenbach commented on #52
Yes, I see... I'm still trying to resolve that issue with Atlassian. Somebody other than me created that setup, which incorrectly creates a v1 token. You need to log in to your HipChat console and create a v2 token.

[2015-05-19 21:24] chriskooken commented on #52
I created 2 more tokens on the API page and neither of them work...

![screen shot 2015-05-19 at 5 23 29 pm](https://cloud.githubusercontent.com/assets/110292/7714341/cf16cb64-fe4b-11e4-92a8-2146fceef541.png)

[2015-05-19 21:26] chriskooken commented on #52
Tried this too:

![screen shot 2015-05-19 at 5 25 54 pm](https://cloud.githubusercontent.com/assets/110292/7714388/262cef00-fe4c-11e4-8758-b0bb07e6f936.png)

[2015-05-19 21:27] parautenbach commented on #52
Check the notice in your first screen shot: You're not creating a v2 API token. :-)

[2015-05-19 21:29] chriskooken commented on #52
What about the second screenshot. That is correct, yes?

[2015-05-19 21:32] chriskooken commented on #52
I figured it out. Thanks!

[2015-05-19 21:33] parautenbach commented on #52
The second one seems to be a room only token, which won't work, as the plugin needs a token that can list all available rooms. Click on the "learn more" link in the first screen shot's notice.

[2015-05-19 21:44] parautenbach commented on #52
Great!

[2015-05-19 21:44] #52 closed

[2015-05-29 13:34] gh2k commented on #52
@chriskooken Could you let me know how you accomplished this? I had to install it with my personal token as I couldn't figure out a way to create a v2 integration token that wasn't room-only.

[2015-05-29 13:59] chriskooken commented on #52
@gh2k You can't do that unfortunately. It has to be a room level.

[2015-05-29 14:05] gh2k opened #53 "No emoticons available"
I've installed the notifier in my TeamCity instance and authorised it with a user token.

It's sending notifications, but there aren't any emoticons added. When I look at the admin page it tells me that there are 0 items in the emoticon cache. I've tried clicking the 'reload' button.

What should I check?

[2015-05-29 14:22] parautenbach commented on #53
Which combination/versions of TC and the plugin are you using respectively?

Also enable [debug logging](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers), which help the process of debugging.

[2015-05-29 14:30] gh2k commented on #53
It's TC 9.0.3 and plugin 0.9.0

There's something in the log that it's complaining about though...
[code]

[2015-05-29 14:37] parautenbach commented on #53
It seems like the HipChat API has been broken by Atlassian (again): There is a `type` element expected in the response that is not found. I don't understand why they make minor revisions/bugfixes to the API without maintaining backwards compatibility within major versions. Anyway, that's not your problem. </rant>

I will release an update as soon as possible. I might have a look at it over the wee

[2015-05-29 14:39] gh2k commented on #53
Yeah, everything else works. It's a new install (today) and I haven't had any other problems with it.

[2015-06-04 08:19] yanns commented on #18
I would say:
- the global configuration is the default one
- per project (it can be a deep sub project), we can override all settings

[2015-06-18 14:41] jshumaker-accusoft commented on #43
I'm seeing this issue with TeamCity 8.1.2, is it possibly a timing issue? We're using build id specified by perforce changelist.  My first test of the plugin I re-ran a build so it was re-using the same perforce changelist number. I'll monitor more to see what the behavior is and consider running the plugin with debug enabled.

[2015-06-25 10:21] gh2k opened #54 "Feature request: Agent name in notification messages"
It would be nice to have "build 'x' was started on agent 'y'" in the notification messages, but I can't seem to find a macro for that.

[2015-06-26 16:48] npaufler opened #55 "${durationOfTests} is always 0"
After updating to 0.9.0, I tried to add the ${durationOfTests} macro to my Hipchat notifications. I'm finding that it is always returning 0 as the time period though, regardless  of the actual runtime of the job.

Thanks

[2015-07-09 20:50] parautenbach commented on #53
Hi, I haven't had time yet to look into this, as I only returned from an extended overseas trip this past weekend. I will try to pay attention to this soon.

[2015-07-09 20:51] parautenbach commented on #55
Could you please send me the output of the log, after enabling [debug logging](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers)? This will show me the actual value provided by the build server.

[2015-07-09 20:55] parautenbach commented on #54
You can already do that. :-) Try adding `${.data_model["teamcity.agent.name"]}` to the template (as documented [here](http://www.whatsthatlight.com/index.php/projects/teamcity-hipchat-plugin/)). You can see all available options with [debug logging](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers) enabled.

[code]

[2015-07-09 22:30] gh2k commented on #54
Nice one, thanks. :-)

[2015-07-09 22:30] #54 closed

[2015-07-10 19:03] npaufler commented on #55
2015-07-10 18:53:52,720 - DEBUG - Adding standard build statistics
2015-07-10 18:53:52,721 - DEBUG -     Number of tests: 0
2015-07-10 18:53:52,721 - DEBUG -     Number of passed tests: 0
2015-07-10 18:53:52,722 - DEBUG -     Number of failed tests: 0
2015-07-10 18:53:52,722 - DEBUG -     Number of new failed tests: 0
2015-07-10 18:53:52,722 - DEBUG -     Number of ignored tests: 0
2015-07-10 18:5

[2015-07-22 15:46] npaufler commented on #55
Happy to provide any additional info you need.

[2015-08-02 16:20] parautenbach commented on #55
Which version of TeamCity are you running? I'm unable to reproduce this with plugin v0.9.0 and TeamCity v9.0.2 (build 32195).

Template:
[code]

Log:
[code]

Result:
![screen shot 2015-08-02 at 18 19 36](https://cloud.githubusercontent.com/assets/743320/9026964/265ba110-3943-11e5-9e50-72bb1f7db52e.png)

[2015-08-02 16:27] #50 closed

[2015-08-02 16:27] parautenbach commented on #50
No further information was provided.

[2015-08-02 16:46] parautenbach commented on #55
This seems to be a bug with the TeamCity Open API (in specifically TC v0.9.0). This is how the build duration value is added to the template:

[code]

where `BuildStatistics` is defined by the [API](http://javadoc.jetbrains.net/teamcity/openapi/current/jetbrains/buildServer/serverSide/BuildStatistics.html#getTotalDuration()).

This isn't well documented, but there is an alternative: All build stat

[2015-08-02 16:56] parautenbach commented on #43
Would you please enable [debug logging](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers) and post the line containing `teamcity.build.id` here? TeamCity 8 is quite old. Is there a possibility for you to upgrade?

[2015-08-02 17:30] #55 closed

[2015-08-02 17:30] parautenbach commented on #53
Fixed in v0.9.1.

[2015-08-02 17:30] #53 closed

[2015-08-03 10:01] gh2k commented on #53
Thanks :-)

[2015-08-03 17:30] ssansom opened #56 "Install fails on Teamcity 8.1.5, java 1.7.0_45 openjdk"
0.8.0 works fine on our setup, however,  it appears as though 0.9.1 is failing to install with this error:

ERROR - gins.spring.SpringPluginLoader - Failed to initialize spring context for plugin HipChat Notifier
java.lang.ClassFormatError: Illegal local variable table length 5 in method com.whatsthatlight.teamcity.hipchat.HipChatConfiguration.getEvents()Lcom/whatsthatlight/teamcity/hipchat/HipCha

[2015-08-03 18:31] parautenbach commented on #56
Due to a difference in libraries included in the TeamCity distribution that is also used by the plugin, it is very unlikely that v0.9.1 will work on TC versions before 9.0.2. Kindly see the compatibility notes in the [README](https://github.com/parautenbach/TeamCity-HipChat-Notifier/blob/master/README.md).

[2015-08-03 18:34] ssansom commented on #56
Yes. Sorry I must have misread the notes, I thought TC 9 support was added, but I didn't realize TC 8 support as dropped.

Sent from my iPhone

[2015-08-03 18:49] parautenbach commented on #56
It would be possible to build against different TC versions, but the TC team changes libraries sometimes even between minor and revision changes. It would just make it hard for me to keep up, so I've generally opted for rolling forwards. You could alternatively run an older suitable version. Is there a specific feature you would miss then? Would it be possible to upgrade your TC server?

[2015-08-03 19:00] ssansom commented on #56
AFAIK there's no specific feature in 0.9 that we need. I just wanted to use
the latest if possible. I've already installed 0.8.0 instead.  We'll be
upgrading to TC 9 fairly soon anyway.

On Mon, Aug 3, 2015 at 2:49 PM, Pieter Rautenbach <notifications@github.com>
wrote:

[2015-08-05 10:41] NikSouthworth opened #57 "Installation Issue - Failed to Initialize Spring Context"
Hey,

Am attempting to install v0.9.1 on TeamCity v9.0.4 Server but am getting the following error:

[2015-08-05 11:06:45,281]  ERROR - gins.spring.SpringPluginLoader - Failed to initialize spring context for plugin HipChat Notifier

Any ideas what I am doing wrong? :)

Thanks.

[2015-08-05 19:51] npaufler commented on #55
Confirmed, that does what we need. Thank you kindly.

[2015-08-05 20:21] parautenbach commented on #55
You're welcome.

[2015-08-05 20:22] parautenbach commented on #57
It's probably a change in dependencies also used by the plugin. I'll have a look.

[2015-08-10 14:43] jshumaker-accusoft commented on #18
I'd want to be able to override at the project level all of the options from the "Build Events Configuration" section that is in the global settings.  Defaults for all should be parent project, with defaults if nothing is set even at top level, to be the global settings.

I'm not as interested in a per-configuration configuration, but if there was one then I'd see it inheriting the project configu

[2015-08-10 14:45] jshumaker-accusoft commented on #43
We've since updated to TeamCity 9.1, but We've since changed the settings on this to only send notifications for failed builds. I don't want to change this for testing as it's a server wide setting.

Without issue 18 completing, I can't test this without negatively impacting the entire company. Additionally without 18, we're just not really using the plugin much in the first place instead of alter

[2015-08-11 09:58] Darkreaper101 opened #58 "Not working with TeamCity v9.1.1"
Good Day,

The HipChat notifier isn't working with the latest version of TeamCity v9.1.1
Currently the plugin installs perfectly, but link item to configure your HipChat settings isn't visible.

Do you maybe have a solution to this issue? :smile:

[2015-08-12 20:21] parautenbach commented on #18
I appreciate your feedback. I would like to mention that I've built this in my spare time, for free, and not as someone associated with Jetbrains or Atlassian. We use the plugin at my current company, and for our purposes it is feature complete. That said, I have complete understanding for your situation. Kindly take note that this is an open project, and I'd like to invite you to contribute. I wo

[2015-08-12 20:22] parautenbach commented on #43
Thank you. I've responded on issue #18 too.

Without more information there is really nothing I can do, as I can't reproduce this issue. You could always spin up a test server on your side in a VM to try and reproduce the symptoms.

[2015-08-12 20:29] jshumaker-accusoft commented on #18
I'd love to assist if i can find some time to work on it myself, and I understand you may not be able to get to it any time soon, or ever.  Definitely some nice functionality to it as-is and if we were a smaller or more focused company it'd definitely work perfectly for us.

My java skills are quite poor, so if i do get to this unfortunately it'd probably require significant review, but maybe i'll

[2015-08-14 10:29] mgoodfellow commented on #58
+1

Same issue here - The installed plugin can be seen in the Plugins list

![plugin](https://cloud.githubusercontent.com/assets/6501186/9272171/bac44342-4277-11e5-9146-74b42d06a179.PNG)

But no link for configuration!

[2015-08-14 11:53] Darkreaper101 commented on #58
@parautenbach Do you have any idea what could be causing this to happen?

[2015-08-14 11:58] mgoodfellow commented on #58
I notice that it seems JetBrains were a bit harsh and broke plugin support in 9.1 - in their [plugin list](https://confluence.jetbrains.com/display/TW/TeamCity+Plugins) there are a few listed with 9.1 compatible forks:

Existing GitHub plugin: https://github.com/milgner/TeamCityGithub/
9.1 compatible fork: https://github.com/orybak/TeamCityGithub

Same for redmine.

I think it would have been usef

[2015-08-21 06:13] batesbg commented on #58
I'm also having this issue.  Would be great to see a fix.

[2015-08-28 18:04] jptoto commented on #58
Ditto that for 9.1.1.

[2015-08-31 06:35] stpkys commented on #58
TeamCity 9.1.1, java version "1.8.0_45"
Error looks same as #57

gins.spring.SpringPluginLoader - Failed to initialize spring context for plugin HipChat Notifier
java.lang.ClassFormatError: Illegal local variable table length 6 in method com.whatsthatlight.teamcity.hipchat.HipChatConfiguration.setEvents(Lcom/whatsthatlight/teamcity/hipchat/HipChatEventConfiguration;)V

[2015-09-01 09:29] andrejohansson commented on #58
+1 here

[2015-09-03 09:47] RMSEddy commented on #58
Running 9.1.1 / 0.9.1 on Server 2012 R2 with both the TC-included JRE (1.8.0_45) and 1.8.0_60 Server JRE.

[2015-09-03 10:35:21,926]  ERROR - gins.spring.SpringPluginLoader - Failed to initialize spring context for plugin HipChat Notifier
java.lang.ClassFormatError: Illegal local variable table length 48 in method com.whatsthatlight.teamcity.hipchat.HipChatConfiguration.<init>()V
	at java.lang.Cla

[2015-09-03 12:53] jonathanrasquin commented on #58
+1 here

[2015-09-07 10:53] scene316 commented on #58
+1

[2015-09-09 16:16] travislaynewilson commented on #58
+1

[2015-09-10 04:22] ptgamr commented on #58
+1

[2015-09-10 08:24] neronmoon commented on #58
+1

[2015-09-10 08:43] stebet commented on #58
+1

[2015-09-10 19:20] parautenbach commented on #57
Could you confirm your TC version please?

[2015-09-10 19:59] parautenbach commented on #58
I've upgraded my test instance to TC v9.1.1-37059 and the plugin v0.9.1 starts up fine, but trying to load the configuration page, I get the following, which indicates a change to the HipChat APIs (the page does load though):

[code]

I need to know who is getting the same error (enable [debug logging](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers) if you haven't already). T

[2015-09-10 20:13] parautenbach commented on #58
I know it may sound audacious to ask this, but I have to check the most common things first. Did the problem for any of you started right after the upgrade? If so, there is a possibility that you didn't clear out the [TeamCity Home Directory](https://confluence.jetbrains.com/display/TCD9/TeamCity+Home+Directory) as per the [upgrade notes](https://confluence.jetbrains.com/display/TCD9/Upgrade).

As

[2015-09-10 20:29] parautenbach commented on #58
Unfortunately I can't yet reproduce this issue, so any additional information will be helpful. I did some reading, and did find [this insightful post](http://stackoverflow.com/questions/31566672/java-8-what-is-the-equivalent-of-usesplitverifier). Perhaps one of you could try the setting just to see if it has an effect, and it could then serve as a temporary workaround until I find the conflicting

[2015-09-11 01:31] jkordish commented on #58
@parautenbach As my usual upgrades I backup the directory and start fresh. I too am getting the error on the new 9.1.1 TC release and latest notifier plugin.

[2015-09-11 02:30] stephen-czetty commented on #58
Added -XX:-UseSplitVerifier, now I get:

[code]

I was able to get it to work by copying emma.jar into WEB-INF/lib, but perhaps this release accidently included the code coverage instrumentation?

[2015-09-11 03:28] stephen-czetty opened #59 "Unable to get rooms from HipChat"
In version 0.9.1, when trying to load the rooms on the configuration page, the following error occurs in the log:

    [2015-09-10 22:24:42,487]  ERROR - hatsthatlight.teamcity.hipchat - Could not get rooms
    org.codehaus.jackson.map.exc.UnrecognizedPropertyException: Unrecognized field "version" (Class com.whatsthatlight.teamcity.hipchat.HipChatRoom), not marked as ignorable
    at [Source: jav

[2015-09-11 15:42] jkordish commented on #58
@stephen-czetty i can confirm that adding the emma.jar over fixes it. :)

[2015-09-11 17:22] RMSEddy commented on #58
Workaround doesn't apply to Java 8.
https://docs.oracle.com/javase/8/docs/technotes/tools/windows/java.html#BABCBGHF

[2015-09-11 17:32] aalbertson commented on #58
Interestingly I'm having the same issue, but on 9.0.4. Installed plugin, link doesn't appear.

[2015-09-11 17:43] jptoto commented on #58
Mine was a fresh install of TeamCity 9.1.1 on Windows 2012 R2. with the
included TC Java 1.8.0_45, JRE. Having the same issue.

On Fri, Sep 11, 2015 at 1:32 PM, aalbertson <notifications@github.com>
wrote:

--
JP Toto   |   james.p.toto@gmail.com   |   http://jptoto.jp   |   @jptoto
<http://twitter.com/jptoto>

[2015-09-12 04:15] bhcleek commented on #58
I'm having this problem on TC 9.0.1 (seeing the same error as @RMSEddy). The only change to the server was installing this plugin.

[2015-09-12 05:13] bhcleek commented on #58
Comparing this release with the previous release, the two zip files' sizes are significantly different. Digging into 0.9.1's zip file and unzipping the HipChatNotifier.jar reveals another HipChatNotifier.zip, which has yet another HipChatNotifier.jar. It looks like @stephen-czetty may be on to something - the build process for 0.9.1 was different than it was for 0.9.0...

[2015-09-13 19:18] parautenbach commented on #58
Thank you everyone for helping to investigate! The prognosis is indeed correct. I am going to pull the 0.9.1 release and release a new version. My apologies to everyone that scratched their heads about this.

[2015-09-13 19:19] parautenbach commented on #59
I can confirm that there was a change on the HipChat APIs. I'll fix this in the next release.

[2015-09-13 19:21] parautenbach commented on #57
This is most likely a duplicate of #58.

[2015-09-13 19:21] parautenbach commented on #56
:+1:

[2015-09-13 19:22] parautenbach commented on #56
The error you got could also the due to #58.

[2015-09-13 19:46] parautenbach commented on #56
Fixed in [v0.9.2](https://github.com/parautenbach/TeamCity-HipChat-Notifier/releases/tag/0.9.2).

[2015-09-13 19:46] #56 closed

[2015-09-13 19:46] parautenbach commented on #57
Fixed in [v0.9.2](https://github.com/parautenbach/TeamCity-HipChat-Notifier/releases/tag/0.9.2).

[2015-09-13 19:46] #57 closed

[2015-09-13 19:46] parautenbach commented on #58
Fixed in [v0.9.2](https://github.com/parautenbach/TeamCity-HipChat-Notifier/releases/tag/0.9.2).

[2015-09-13 19:46] #58 closed

[2015-09-13 19:46] parautenbach commented on #59
Fixed in [v0.9.2](https://github.com/parautenbach/TeamCity-HipChat-Notifier/releases/tag/0.9.2).

[2015-09-13 19:46] #59 closed

[2015-09-15 05:30] stephencossgrove opened #60 "Token Failer"
Hi,
Just installed teamcity 9.1.1 and the HipChat Notifier plug.

I've gone to the HipCat site and generated personal tokens for all the token types.
The 'Test Connection' works for the View Group and View Room tokens. I can select the default rooms but I am getting no messages in HipChat for the selected rooms.

Can anyone help?

[2015-09-15 20:08] parautenbach commented on #60
Hi

You will need to enable [debug logging](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers) in order for me to understand what's happening. Would you be able to do that?

[2015-09-16 17:46] ma499 commented on #38
Hi @parautenbach the regexp branch filter doesn't seem to work.

We're using git and I've tried the following filter expressions:
refs/heads/master
master
^master$

In all cases, we still get notified about every branch. I had a look through the code but can't see any obvious reason why it shouldn't work. Can you advise?

[2015-09-16 19:26] parautenbach commented on #38
Did it work before and now stopped working, or didn't it ever work for you?

Could you post the relevant section of your [log](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers) (starting with the event up to the point where the message is sent), and also your config (with your API credentials removed)?

You can also try to replicate your config in the test `testBuildStartedBran

[2015-09-21 14:55] andrejohansson commented on #52
Hello, @parautenbach or @chriskooken could you please clarify this (with pictures for dummies)?

I'm running v0.9.2 and I can't figure out how to generate v2 tokens. I've tried the "install integration", I've tried generating personal tokens at admin levels (which specifically says it's an v2 token) and also room tokens. Neither of these work, I just get "connection failed" when pressing the test

[2015-09-21 15:08] parautenbach commented on #52
Go to https://DOMAIN.hipchat.com/account/api, where DOMAIN is your registered HipChat domain, and create a token there. I think the v1 API page actually warns you, and also provides a link to the v2 API pages.

Btw, the "install integration" isn't something I created, and I'm still struggling to get the info out of Atlassian/HipChat in order to fix that. Whoever created that, configured it to use

[2015-09-22 06:43] andrejohansson commented on #52
@parautenbach I go to that page, which type of token should I create? I have created all different scopes, including "Administer group". But still I get connection failed.

![2015-09-22 08_42_32-hipchat - your api access](https://cloud.githubusercontent.com/assets/2828428/10012213/e913542a-6105-11e5-81c5-fce99c3f48de.png)

[2015-09-22 07:03] parautenbach commented on #52
I see things have changed quite a bit since I've been on that page. Quite hard to find it too...

Here are my settings:
* Administer Group (no idea why this one's required; must be a default HipChat applied when updating their API)
* Administer Room
* Manage Rooms
* Send Message
* Send Notification
* View Group (ditto)
* View Messages
* View Room

It's not clear which scope allows the listing of a

[2015-09-22 07:50] andrejohansson commented on #52
The two needed scopes seems to be:
* Send Notification
* View Room

My error was not ctrl+clicking multiple values.

[2015-09-22 07:56] parautenbach commented on #52
Glad you got it going. I'll update the docs.

[2015-09-22 07:57] parautenbach opened #61 "Update documentation for creating tokens"
The HipChat API and its documentation has changed somewhat, making it hard for users to create the required token and scopes.

[2015-09-30 05:35] chriskolenko opened #62 "HipChat Tab on Project"
Hey would it be hard to move the HipChat Tab that is currently on the home page into the settings?

[2015-09-30 07:18] andrejohansson opened #63 "Filter depending on parameters"
We have a case where we only want notifications when a build starts and have some given parameters. In our specific case we have builds that deploy our software, and we choose the target environment (dev, qa, prod) using a parameter.

In our hipchat room we are only interested in getting notified when we deploy to production since dev and qa quickly gets to chatty since they deploy continuously.

[2015-10-08 02:45] vivian-ho commented on #18
Here are the build configurations we have:

1) Build every GitHub pull request to make sure it doesn't break the build
2) Deploy a build (onto several machines)
3) Run integration test

We only want to send HipChat messages to our build deployment room for build config 2), and maybe 3) and don't want to pollute the room with results from build config 1).

So a per build configuration would be a bi

[2015-10-08 02:48] vivian-ho commented on #18
Oh well maybe we can convert build configs into projects for now.

[2015-10-21 11:26] sblackler opened #64 "Failures appearing"
Similar to #59 I receive the following errors:

    2015-10-21 12:15:45,344 - ERROR - Could not get emoticons
    org.codehaus.jackson.map.exc.UnrecognizedPropertyException: Unrecognized field "type" (Class com.whatsthatlight.teamcity.hipchat.HipChatEmoticon), not marked as ignorable
     at [Source: java.io.InputStreamReader@184db8; line: 1, column: 118] (through reference chain: com.whatsthatlig

[2015-10-29 14:34] ghostal commented on #38
I'm also experiencing problems with this feature, although I'm seeing the _opposite_ of what @ma499 is seeing - when including a regex in the global config, _nothing_ gets reported to HipChat. When I remove the regex filter, events are reported to HipChat.

I'm using TeamCity `9.1.3` and HipChatNotifier `0.9.2`.

I'd be happy to provide logs, although I struggled to follow the directions you linke

[2015-11-03 15:00] ScottSingleton opened #65 "Confused about which token is required"
The docs aren't clear as to which token type is required nor the correct api URL.

I've tried many different combinations and have not once been able to get a successful test connection.

[2015-11-03 20:18] parautenbach commented on #65
Kindly refer to #52 (and #62). You need a personal token (tied to a user account) for the v2 API, with the correct admin scopes.

The default API URL is correct, so don't adjust that in the configuration unless you're sending notifications to your own HipChat server.

[2015-11-04 08:06] parautenbach commented on #65
If you could explain one specific route you followed, and the values you entered (without posting your token, for your own safety) I would be able to help better.

[2015-11-04 14:14] ScottSingleton commented on #65
Thanks for your help;   It was the admin rights that tricked me up.  I saw a note at the bottom of #62 that listed two lesser privileged rights and had been trying those with the user token.

This of course was after trying to get the token provided by Atlassian :/

After seeing your first note here I issued a token with ALL rights then worked backwards from there.  Thank you so much.

[2015-11-04 14:14] #65 closed

[2015-11-06 08:29] naderghanbari opened #66 "Can't change the `Build Started` configuration"
On TeamCity 9.1.1 I can not change the `Build Started` config.

All other configs are changeable. I can set the default or empty the value for `Build Started` but I can not change the value.

[2015-12-02 20:12] ysmei opened #67 "Can't find any rooms in Teamcity"
I just set up the notifier on Teamcity using the API url and a token I created from my user that has "View Room" and "Send Notification" permissions. When I press test connection, it is successful. However I am unable to see any rooms from the drop down lists. How can I specify a room that I want to send notifications to?
![efwf](https://cloud.githubusercontent.com/assets/16123906/11542784/1335d9e

[2015-12-04 10:02] raoulus commented on #67
Same for me

[2015-12-04 10:59] parautenbach commented on #67
After entering the credentials and testing the connection, you need to save the settings, which will reload the page and populate the rooms. I need to improve that behaviour at some point (e.g. forcing a reload of rooms, just like one can reload the emoticons from the admin page).

[2015-12-04 14:07] ysmei commented on #67
I've pressed "Save" and "Save to reload" multiple times making sure the connection is successful after each save and still get no rooms. I've also tried specifying a room number in the API URL and while it connects successfully, there are still no rooms to choose from.

[2015-12-04 14:47] parautenbach commented on #67
Could you enable [debug logging](https://github.com/parautenbach/TeamCity-HipChat-Notifier#developers) please?

[2015-12-04 15:01] ysmei commented on #67
Sorry I'm having a bit of trouble understanding the instructions. My current directory where Teamcity is installed is in var/Teamcity/data and the plugin is installed in var/Teamcity/data/plugins/.unpacked. Where should I be looking to enable the logging?

[2015-12-04 15:05] parautenbach commented on #67
The config file you need to update is the TeamCity XML config file, typically in `<TEAMCITY_HOME>/conf/teamcity-server-log4j.xml` (it depends on your installation and OS). Just edit the file and add the snippets as described. The logs will then be in the server's log directory (`./logs`, on the same level as `./conf`).

[2015-12-04 15:15] ysmei commented on #67
Okay I found the file. Do I need to reboot the server after editing the file? What tests should I run before checking the log?

[2015-12-04 15:35] parautenbach commented on #67
You only need to restart TeamCity, I think (it may even be reloading the config at runtime so it may not even be necessary). Just do what you did before that didn't work, and check if there is a log file. If not, restart TeamCity, perform the steps again, and check the log again.

[2015-12-04 15:55] ysmei commented on #67
[hipchat.txt](https://github.com/parautenbach/TeamCity-HipChat-Notifier/files/52214/hipchat.txt)
This is the log I got, I tried the connection multiple ways.

[2015-12-04 16:59] chriszacny commented on #67
Just as a FYI - I'm seeing this too. (No rooms displayed / able to be selected). However, this plugin has been working fine up until now (roughly 1 year). Perhaps HipChat changed something on their end?

[2015-12-07 15:00] mrvvV commented on #67
Hey @parautenbach, any updates?

[2015-12-14 23:45] ShaneWF commented on #67
Noticing the same on ours.

[2015-12-17 12:30] hansbogert opened #68 "Notifications are not sent"
Notifications are not sent to the actual room.

#52 Bit me hard, but I solved that. In the global configuration notifications are enabled.
On project level the notifications are enabled.

![screen shot 2015-12-17 at 1 24 36 pm](https://cloud.githubusercontent.com/assets/2630900/11869657/b91e07c4-a4c1-11e5-855a-0dc89749443d.png)

![screen shot 2015-12-17 at 1 29 27 pm](https://cloud.githubuserconte

[2015-12-23 10:06] dwerder opened #69 "OpenJDK 1.8 and SSL/TLS error"
Hello,

first want to say thank you for the plugin. We recently did a upgrade of teamcity to 9.1.4 and to JDK 1.8.0_65 ( OpenJDK Runtime Environment (build 1.8.0_65-b17) )

JDK 1.8 is supported by teamcity since 9.1.

But we get the following error:

[code]

[2015-12-23 10:41] dwerder commented on #69
Sorry. It was a config error on our behalf.
Missused `-Djdk.tls.client.protocols="TLSv1,TLSv1.1,TLSv1.2"`

[2015-12-23 10:41] #69 closed

[2016-01-12 13:27] edandersen commented on #67
+1

[2016-01-12 19:12] parautenbach commented on #61
Related to #52 and #62.

[2016-01-12 19:15] parautenbach commented on #67
My sincerest apologies for such a long delay before responding (due to personal circumstances).

I've tested this again now using TC v9.1.1 and plugin v0.9.2 and the rooms get loaded correctly.

The `hipchat.txt` log attached higher up does not contain any errors. Are you sure you copied the log that corresponds with when you tried to load rooms on the admin page (by loading the admin config page)

[2016-01-20 13:52] parautenbach commented on #68
What do you mean by "not sent to the actual room"?

Is there a suggestion in this issue to attend to? I'm not sure what to make of this.

[2016-01-21 13:28] neronmoon opened #70 "Realtime notification"
TeamCity can mark build as failed before it ended. Need to send notification when it happens.

https://confluence.jetbrains.com/display/TCD9/Build+Script+Interaction+with+TeamCity

[2016-01-26 16:17] kenny-evitt opened #71 "After saving changes in TeamCity 8.x, page is blank"
I just installed the latest version of the plugin. The TeamCity version is 8.0.6 (build 27767). TeamCity is running on Windows Server 2008 x64.

Any changes I make _are_ saved.

[2016-01-26 16:34] parautenbach commented on #71
Are you running TC behind a [proxy](https://github.com/parautenbach/TeamCity-HipChat-Notifier#troubleshooting)?

[2016-01-26 17:43] kenny-evitt commented on #71
@parautenbach Nope

[2016-02-03 09:36] neronmoon commented on #70
Any thoughts here?

[2016-02-03 11:14] parautenbach commented on #70
Yes, TC supports a "build failing" event and it can be implemented. I have very limited time currently, but this is open source, so I'll accept PRs.

[2016-02-08 15:40] squalsoft commented on #61
You need to select multiple scopes to have access
<img width="641" alt="2016-02-08 18 38 30" src="https://cloud.githubusercontent.com/assets/1629660/12890141/72845de4-ce93-11e5-8c10-4d2fe944d5d7.png">

[2016-02-08 15:41] squalsoft commented on #52
You need to select multiple scopes to have access
<img width="641" alt="2016-02-08 18 38 30" src="https://cloud.githubusercontent.com/assets/1629660/12890155/87bc7160-ce93-11e5-95d7-2e09c7d174b5.png">

[2016-02-10 15:16] ageddesi commented on #61
+1 on getting this on the homepage. I spent almost an hour trying to figure out what I was doing wrong until I found this ticket.

[2016-02-16 18:49] jbwise opened #73 "TeamCity 9.1.6 seems to have killed the Notifier"
We upgraded to TeamCity 9.1.6 when it came out on 29JAN, and it appears to have killed the integration.  We've reinstalled, restarted, and recreated API keys, but to no avail.  When clicking the test button, we get a 400 error from configureHipChat.html.  None of the room lists are populated anymore and no messages get to HipChat.

Thanks!

[2016-02-19 00:59] KevCJones commented on #61
+1 I gave up trying for a while and wrote a webhook version but thankfully i found this the second time around.... add that screenshot to your readme.

[2016-02-19 08:33] andreiverdes commented on #73
+1

[2016-02-20 05:39] squalsoft commented on #73
I have 9.1.6 and it works great.

[2016-02-20 09:19] parautenbach commented on #73
@jbwise, I will try and test over the weekend, but if it works for @squalsoft, then my guess would be that perhaps you didn't clean out all the working directories when you upgraded your TC installation. If any JAR files from a prior version remains, there is a chance of an ambiguity. Perhaps you could both just confirm which version of the plugin you use? Maybe you use the same TC version, but di

[2016-02-22 10:43] andreiverdes commented on #73
I'm using a fresh TeamCity Professional 9.1.6 (build 37459) and the latest plugin version  0.9.2 - 1fdd36c. Today I'll try to enable debugging and see the logs.

[2016-02-22 15:40] andreiverdes commented on #73
Ok...so apparently something's going on...
Workaround:
1. Define an v2 API token with scope `View Rooms` or `View Groups`
2. Use that to configure `Administration -> Hipchat`notifier
3. Go to `Projects -> <Sub project> -> Hipchat` tab and select your room
4. Now, when the plugin will try sending notifications it will result with hipchat api error 403
5. Define a new v2 API token with Scope `Send N

[2016-02-22 16:13] jbwise commented on #73
I hate to admit it, but our error could have been a simple expired token.  I just saw the expiration date on the original token was Jan 30, 2016.  The new tokens I created did not have the three permissions you listed above, but when I created a token with Send Message, Send Notification, View Room, View Messages, and View Group, the plugin works as expected.

It seems this isn't a bug with either

[2016-02-22 17:21] andreiverdes commented on #73
Glad to hear that!

[2016-03-24 19:58] gsvitak commented on #73
@andreiverdes I had the same problem with a brand new install. I used your suggestion of creating the token with View Groups and everything started working.

[2016-05-06 17:07] bratfizyk opened #74 "Can't include artifacts' names in a message."
I might be wrong, but I can't see any way to include information about produced artifacts in a message that gets sent to HipChat.

As a basic version it would be nice just to be able to list all the produced artifacts.

In an ideal world it would be great to apply some filtering and artifacts' names operation.

[2016-05-20 17:25] Ebeid commented on #52
Please help me get this working. I generated a room token
![hipchat room notification tokens](https://cloud.githubusercontent.com/assets/8538238/15436084/e86855e8-1e74-11e6-98dd-88162aec8862.png)

and used it on my TeamCity:

![hipchat notifier teamcity](https://cloud.githubusercontent.com/assets/8538238/15436085/e869b3d4-1e74-11e6-88d8-a4059cf73dfc.png)

[2016-05-27 16:28] acvanzant commented on #18
Bumping this as we are just getting HipChat and are also disappointed in the lack of per Build Config settings. We are, sadly, not very consistent between projects and teams, how we use teamcity, hipchat or even branches and source control.

[2016-06-14 22:52] galet commented on #62
That would be really helpful. We have a huge TeamCity deployment and this prevents us from using this plugin.

[2016-06-24 09:29] nachtfisch commented on #18
+1 great job overall for the plugin:)

[2016-07-05 22:23] baqueiro commented on #73
thankyou @andreiverdes

[2016-07-21 13:59] dphizler opened #76 "Don't think I can disable notifications for some of the projects/builds"
I've searched for this answer but didn't find it. Please help if possible.

I have some builds that I know work and I don't need to monitor as often as others. I would prefer to disable those notifications.

Thanks,
Phil

[2016-07-25 13:44] dphizler commented on #76
Finally, it's possible to add an if statement in the configuration box to compare the name of the build with the variable value

[2016-07-25 13:47] #76 closed

[2016-08-19 19:17] dragon788 commented on #73
Thanks for the tip. You can actually give out multiple permissions to an API key in HipChat, just hold Ctrl while selecting (probably Command on Mac). I gave `Send Message, Send Notification, View Group, View Room` and it is working great now.

[2016-08-19 19:20] andreiverdes commented on #73
Cool @dragon788! Thanks! I would've never thought about this :D

[2016-08-19 21:57] dragon788 commented on #67
I've used 4 permissions from the API, `Send Message, Send Notification, View Group, View Room`. This has everything working for me.

[2016-08-23 19:16] parautenbach commented on #74
Hello, have a look at #54.

[2016-09-28 02:17] kringol commented on #46
Sorry for the 1year late comeback.
I just tried this now.
Sorry to say it doesn't seem to be working. Maybe due to the fact that hipchat api is https, and the proxy config you are reading and supplying is only the one for http.

I believe using the http system default config would help

https://hc.apache.org/httpcomponents-client-ga/tutorial/html/connmgmt.html#d5e485
or
http://hc.apache.org/httpco

[2016-10-06 18:20] jeffgoo opened #77 "Add support for @mentions such as @here and @all"
Based on what I saw in the Hipchat Api docs, this should just be a matter of sending @here in the message text but when I added this to the messages sent by the TC hipchat notifier it does not work.

[2016-10-06 18:31] jeffgoo commented on #77
Nevermind!  Figured it out...  just had to use the html entity &#x26;#64; for @ so &#x26;#64;all did the trick.  Rock on!  Thanks for building this.

[2016-10-06 18:31] #77 closed, assigned to nobody

[2016-10-06 18:58] jeffgoo commented on #77
There is an issue actually.  If you enter &#x26;#64; into the hipchat notifier admin and later make another change the &#x26;#64; is converted back to a @ which doesn't work.   But minor annoyance.

[2016-10-11 09:12] davestephens opened #78 "Plugin doesn't work with Teamcity 10.0.2"
Since upgrading to TC10, the notifier fails to connect to Hipchat hosted server (I've not tested Hipchat "proper").

The API is definitely enabled:

https://chat/v2/health-check:

[code]

Yet when hitting **Test Connection** we get a "Connection Failed" error message.

I've also regenerated the API key just in case, and it's not that either...

[2016-10-20 19:54] dvdgutzmann commented on #78
Same here. "Connection Failed" on Test Connection. TC10.

[2016-11-04 20:48] barretb commented on #78
I'm also getting this message with Team City 9.1.6, plug in version 0.9.2. It started around mid-September. I have tried regenerating my token a couple of times (tried both admin tokens and notification tokens), but I still get this error, and nothing else. And I can't find any trace of an error message in the Team City server logs either, which isn't helping me track down the cause.

Test connect

[2016-11-24 04:42] davidkeaveny commented on #78
I'm getting the same with TeamCity 10.0.0, connecting to HipChat Cloud with the 0.9.2 plugin. When configuring, the Test Connection button reports "failed", the Rooms dropdowns are not populating.

[2016-12-07 20:39] SteveLobdell commented on #78
I just uploaded the zip to 10.0.1 Enterprise and restarted TC.  The zip changed to a file with no extension which I'm guessing means that TC installed or tried to.  But now I'm not seeing it in the plugins list and there's no Hipchat options on the admin side or in any projects.  Am I missing something?

[2016-12-07 22:51] davestephens commented on #78
I had 30 mins to play about with this at work earlier this week, I got the
same on a fresh TeamCity install.

Where the plugin had been working on a TC9 install and subsequently
upgraded to TC10, you get all the UI bits and bobs but it doesn't work
properly.

TL;DR; it's not compatible with TC10 in any way whatsoever. :-)

On 7 Dec 2016 8:39 p.m., "Steve" <notifications@github.com> wrote:

[2016-12-08 08:02] gateKeeper-zz commented on #43
Hi Pieter, the problem is still there. We use TC 10.0.3, but it existed with the previous versions too. As I understood by comparing our different prrojects in TC, this can be related to a couple of things (in our case at least):
- it is reproducible if we use a 'non-default' numeration of a build - for some projects we use Advanced Shared build number plugin. So, this plugin can require additiona

[2016-12-11 17:27] parautenbach commented on #74
No reply. Please reopen if unresolved.

[2016-12-11 17:27] #74 closed

[2016-12-11 17:28] #73 closed

[2016-12-11 17:28] parautenbach commented on #71
No further information provided.

[2016-12-11 17:28] #71 closed

[2016-12-11 17:29] #67 closed

[2016-12-11 17:34] parautenbach commented on #66
I'm not sure whether you refer to syntactic or semantic validation. Syntactic validation may be possible. I need to check what the underlying templating library supports. As for semantic validation (i.e. the use of a TeamCity variable), that would be practically impossible, as users of the plugin can define custom environment and other variables.

[2016-12-11 17:43] parautenbach commented on #66
As a workaround, you can enable debug logging.

Also, copying your template out and resetting the template would get things in a working state. You can then visually inspect the template, or you can use this [online validator](http://freemarker-online.kenshoo.com/).

[2017-02-14 13:33] Funbit commented on #78
Is there any update on this? Such a great plugin but without TC 10 support :(

[2017-04-21 19:12] sderderian commented on #78
Is there any update on this issue?  Have end users inquiring.....

[2017-04-21 20:23] davestephens commented on #78
@sderderian You could always raise a pull request...

[2017-04-28 14:00] davestephens commented on #78
For those interested I've fixed the plugin and released it from my fork: https://github.com/ManDevOps/TeamCity-HipChat-Notifier/releases/tag/0.9.3

I've tested it against TC10 and 2017.1, and it seems to work OK - as such I'm closing this issue.

[2017-04-28 14:00] #78 closed, assigned to nobody

[2017-04-28 14:24] parautenbach commented on #78
Hello @davestephens

Thanks for this. I just don't currently have enough spare time to code on this. I try every now and then to make some time, as there are a few features I'd still like to implement one day.

I'd be more than happy to accept patches and PRs though! No need to fork this (but it's fine if you want to): You're welcome to submit a PR and the latest ZIP, with an updated README and te

[2017-04-28 14:39] davestephens commented on #78
Hi @parautenbach,

I've knocked this out at work so also don't have loads of time to spend on it - I'm using an internal HipChat server so can't verify the external tests all pass against HipChat 'proper' as it's blocked in my office. If I get some time I'll tidy it up at home into a proper PR and submit it!

[2017-05-17 05:39] stallion2076a opened #79 "Connection Failed with Teamcity 2017.1.1"
Helllo ,

I am unable to connect my teamcity to Hichat , it says connection failed

![image](https://cloud.githubusercontent.com/assets/5584645/26139850/b59ecbf0-3b16-11e7-94b6-ffb0eff0352c.png)

Just wondering if I got the URL right

![image](https://cloud.githubusercontent.com/assets/5584645/26139876/e5de3594-3b16-11e7-8bbb-86c9e13151bd.png)

[2017-06-20 16:44] andyofengland commented on #79
Did you ever get a resolution to this at all?

[2017-06-26 13:13] BenedekFarkas commented on #79
The URL (in case you're using HipChat Cloud) should be `https://api.hipchat.com/v2/`.

[2017-06-26 13:17] andyofengland commented on #79
I've tried that but I keep getting "Connection Failed".  Are there any specific firewall exceptions that are needed from the server?  Or is it just server ==> hipchat on 80?

[2017-06-26 13:26] BenedekFarkas commented on #79
I don't think so. Btw the token needed for the connection needs to be assigned to a user, since account-wide tokens don't work with the v2 API (only v1). You need to set up a user (or use an existing one, like your own, if you're an admin, but I have a separate one) for sending notifications, then log in with it and go to `https://yourdomain.hipchat.com/account/api` and create an API token with th

[2017-09-26 13:22] khaljimbo commented on #79
Have you been able to get this working? I've tried everything including the ideas suggest on #52 and #61 and it's still not working.

[2017-09-26 14:45] webmastir commented on #79
@khaljimbo  I had a similar issue not too long ago. It ended up being the result of an expired access token.
I highly doubt this is your problem, but it might be worth checking.

[2017-09-26 15:45] BenedekFarkas commented on #79
@khaljimbo works for me with the token generated as described in my previous comment.

[2017-09-26 16:10] khaljimbo commented on #79
I still can't get it to connect, I've created 3 different tokens.

One with every permission
One with only the 3 in the last comment
One with everything from the hipchat administrator.

I still can't seem to get it to connect. Really want to use this enable our CI journey even better.

[2017-09-27 01:06] stallion2076a commented on #79
It was the url that was wrong , after I fixed  it it worked fine

[2017-09-27 08:06] khaljimbo commented on #79
@stallion2076a can you share your URL?

I am using https://api.hipchat.com/v2

I am using the Octopus Deploy hipchat notifier too which uses the same api url and that is working fine. I am also using TeamCity 2017.1.2

[2017-09-27 08:34] khaljimbo commented on #79
So I was able to get it to connect by adding /rooms onto the end of the URL. I get a connection successful message. However it is not showing any rooms in the drop down when I click to choose them, the list just stays blank even after reloading and refreshing the page.

I've got it completely working now. All I needed was the / on the end on v2.

[2017-09-27 13:05] webmastir commented on #79
@khaljimbo Ah! Glad it's fixed. I had to do the same thing as well.

[2018-01-28 00:29] flocsy commented on #79
I can't make it work. I tried it both with https://api.hipchat.com/v2, https://api.hipchat.com/v2/rooms,  https://mydomain.hipchat.com/v2/, https://mydomain.hipchat.com/v2/rooms. My TC version is: 2017.2.1 (build 50732)

[2018-01-29 14:15] BenedekFarkas commented on #79
@flocsy working for me on the same TC version. The URL should be `https://api.hipchat.com/v2/`. Have you got the token set up correctly (as discussed above)? If you get a "Connection successful", you still need to set it up for your TC projects.

[2018-01-31 21:00] flocsy commented on #79
URL: https://api.hipchat.com/v2/, token from https://mysubdomain.hipchat.com/account/api (Send Notification scope with my user) and I get "test connection" (tried before and after save) just gives me "Connection failed". I have no idea what's the problem, there's no indication at all.

When I click on the button it starts an ajax call to (fake host, token :)

http://my-tc.example.com:8901/configur

[2018-02-02 14:52] BenedekFarkas commented on #79
I just realized that my token has both `Send Notification` and `View Group` scope. If you only have `View Group`, then the connection test will be successful, but it won't be able to send notifications.

So you need both of those scopes for connection test to be successful and be able to assign HipChat rooms to TeamCity projects and then actually send notifications.

FYI it will only be able to ac

[2018-02-04 08:18] flocsy commented on #79
na így már működik!

[2018-02-05 12:34] BenedekFarkas commented on #79
Remek! :D

[2018-02-28 00:46] jacobjohnston opened #80 "Add support for Stride"
Now that HipChat is being deprecated by Atlassian in favor of Stride, I'd love it if this plugin could be updated to support Stride.

[2018-06-13 16:10] Funbit commented on #79
OMG, I've spent almost an hour trying to find out why connection is failed.
@BenedekFarkas 's answer is correct, both scopes are required for connection test to be successful! Thanks!